### This is the main way to configure the application (other than annotations).
### This file is in Yaml format but you can also configure spring boot using the traditional
### Java properties file format.


spring:
    jpa:
        database: MYSQL
        hibernate:
            ddl-auto: update

    datasource:
        url: jdbc:mysql://localhost/gestioncra
        username: root
        password: root
        driver-class-name: com.mysql.jdbc.Driver

server:
  port: 8090

#todo: make sure to always enable security in production
security:
  basic:
    enabled: false


---
spring:
  profiles: test



hotel.service:
  name: 'test profile:'

logging:
  file: gestion_cra.log
  org.hibernate: INFO